<div id="<%= dom_id app_metadatum %>">
  <p>
    <strong>Latest version name:</strong>
    <%= app_metadatum.latest_version_name %>
  </p>

  <p>
    <strong>Catalog current period:</strong>
    <%= app_metadatum.catalog_current_period %>
  </p>

  <p>
    <strong>Catalog last updated:</strong>
    <%= app_metadatum.catalog_last_updated %>
  </p>

</div>
