<h1>Editing app metadatum</h1>

<%= render "form", app_metadatum: @app_metadatum %>

<br>

<div>
  <%= link_to "Show this app metadatum", @app_metadatum %> |
  <%= link_to "Back to app metadata", app_metadata_path %>
</div>
