<p style="color: green"><%= notice %></p>

<h1>App metadata</h1>

<div id="app_metadata">
  <% @app_metadata.each do |app_metadatum| %>
    <%= render app_metadatum %>
    <p>
      <%= link_to "Show this app metadatum", app_metadatum %>
    </p>
  <% end %>
</div>

<%= link_to "New app metadatum", new_app_metadatum_path %>
