/* Uh, this styles are not being loaded in Pages' views... */

/* body {
  background-color: rgb(156, 192, 201);
}

main-nav {
  background-color: #222129;
  bottom: 0;
  left: 0;
  padding-bottom: min(env(safe-area-inset-bottom,0px),1.5rem);
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 10;
} */
