<h1>Editing ramo event</h1>

<%= render "form", ramo_event: @ramo_event %>

<br>

<div>
  <%= link_to "Show this ramo event", @ramo_event %> |
  <%= link_to "Back to ramo events", ramo_events_path %>
</div>
