<div class="accordion-item">
  <h2 class="accordion-header" id="IncomingEvalsHeader">
    <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#IncomingEvalsContainer"
      aria-expanded="false" aria-controls="IncomingEvalsContainer">
      Próximos <%= incomingDays %> días
    </button>
  </h2>
  <div id="IncomingEvalsContainer" class="accordion-collapse collapse" aria-labelledby="IncomingEvalsHeader"
    data-bs-parent="#EvaluationsAccordionContainer">
    <div class="accordion-body border-light border-start border-end border-bottom shadow-sm">
      <% @course_instances.each do |course| %>
        <div class="container-lg">
          <%=
            render(
              partial: "course_events/course_events_collection_card",
              locals: {
                cardTitle: "%s (NRC %s)" % [course.title, course.nrc],
                cardEvents: course.getEventsEvaluationsIncoming(days: incomingDays),
                titleBackgroundColor: "#edf1f3",
                bodyBackgroundColor: "transparent"
              }
            )
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>
