<h1>Editing course event</h1>

<%= render "form", course_event: @course_event %>

<br>

<div>
  <%= link_to "Show this course event", @course_event %> |
  <%= link_to "Back to course events", course_events_path %>
</div>
