<h1>Main#courses</h1>
<p>Find me in app/views/courses.html.erb</p>

<div class="text-center">
  <%= link_to(
        "Catálogo",
        course_instances_path,
        class: "btn btn-primary"
      ) %>
</div>
