<div class="container">
  <div class="row text-center my-3">
    <div class="col">
      <%= link_to(
            raw("<i class='bi bi-book me-2'></i> ") + "Catálogo",
            course_instances_path,
            class: "btn btn-primary"
          ) %>
    </div>
    <div class="col">
      <%= button_to(
            raw("<i class='bi bi-trash3-fill me-2'></i> ") + "[debug] Clear session",
            "/debug-clear-session",
            class: "btn btn-danger text-white",
            method: :post
          ) %>
    </div>
  </div>
</div>

<div id="UserInscribedCoursesContainer">
  <% if (session[:guestUserId] != nil) %>
    <%= render(
          partial: "course_instances/course_instance_collection",
          locals: {
            courseInstances: User.find_by(id: session[:guestUserId]).getInscribedCourses()
          }
        ) %>
  <% end %>
</div>
