<div id="ScheduleControlsContainer" class="mb-3">
  <a class="btn btn-outline-danger" data-bs-toggle="collapse" href="#SymbologyContainer" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-question-lg"></i>
  </a>

  <%=
    link_to(
      raw("<i class='bi bi-file-earmark-arrow-down-fill me-2'></i>") + "Descargar horario",
      "downloadSchedule",
      class: "btn btn-outline-secondary shadow-sm px-4 mx-2"
    )
  %>
</div>

<div id="SymbologyContainer" class="collapse card border-danger mb-3">
  <div class="card-header bg-transparent border-danger">
    Colores de bloques de horario
  </div>
  <div class="card-body">
    <small class="d-inline border border-light shadow-sm px-2 py-1 m-1" style="background-color: white;">
      Clases
    </small>
    <small class="d-inline border border-light shadow-sm px-2 py-1 m-1" style="background-color: #cafccd;">
      Ayudantías
    </small>
    <small class="d-inline border border-light shadow-sm px-2 py-1 m-1" style="background-color: #cadefc;">
      Laboratorios
    </small>
  </div>
</div>

<%=
  render(
    partial: "main/week_schedule_table",
    locals: {
      weekScheduleData: @weekScheduleData
    }
  )
%>
