<h1>Editing course instance</h1>

<%= render "form", course_instance: @course_instance %>

<br>

<div>
  <%= link_to "Show this course instance", @course_instance %> |
  <%= link_to "Back to course instances", course_instances_path %>
</div>
