# Not ignoring the encryption file for cookies, so cookies are always preserved over deployments.
# This is a workaround since the `development` environment is used right now, see issue #18.
!tmp/development_secret.txt

db/schema.rb
.idea/
node_modules/
Gemfile.lock
.browserslistrc
.ruby-version
Procfile.dev

.bundle
log/
tmp/
storage/
public/assets
config/master.key
config/application.yml
app/assets/builds
