<h1>Academic periods</h1>

<div id="academic_periods">
  <% @academic_periods.each do |academic_period| %>
    <%= render academic_period %>
    <p>
      <%= link_to "Show this academic period", academic_period %>
    </p>
  <% end %>
</div>

<%= link_to "New academic period", new_academic_period_path %>
