<div class="modal fade" id="<%= diagId %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uso de cookies</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p>
        TomaRamosApp usa cookies para guardar sus cursos inscritos.
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Sí, como sea
        </button>
        <!--<a class="btn btn-secondary" href="https://www.kaspersky.es/resource-center/definitions/cookies">
          ¿Qué son los cookies?
        </a>-->
      </div>
    </div>
  </div>
</div>