<%=
  image_tag(
    "app_uandes_banner.png",
    alt: "App banner",
    class: "mx-auto d-block img-fluid",
    style: "max-height:140px;"
  )
%>

<hr>

<div class="mb-4 pb-4">
  <%= renderMarkdownFile("markdown/about.md") %>
</div>

<div class="text-center mb-4" style="
  position: fixed;
  Z-index: 99;
  bottom: 0;
  width: 100%;
">
  <%=
    link_to(
      "Volver",
      root_path,
      class: "btn btn-secondary shadow-sm px-4 mx-2",
    )
  %>

  <%=
    link_to(
      "Dar feedback",
      ApplicationHelper::FEEDBACK_FORM_URL,
      class: "btn btn-outline-secondary shadow-sm px-4 mx-2",
      "target" => "_blank"
    )
  %>
</div>
