<%= image_tag(
      "app_pro_banner.jpg",
      alt: "App banner",
      class: "mx-auto d-block img-fluid",
      style: "max-height:260px;"
    ) %>

<%= renderMarkdownFile("markdown/about.md") %>

<div class="text-center pb-1 pt-3">
    <%= link_to("Volver", :back, class: "btn btn-secondary") %>
</div>
