<div>
  <p>Oh my, has the Oauth with Google worked?</p>

  <%= debug session %>
</div>

<div class="text-center mb-4 fixed-bottom">
  <%= link_to(
        "Volver",
        :back,
        class: "btn btn-secondary shadow-sm",
      ) %>
</div>
