<h1>
  ¿Hm? Esta página no existe
</h1>

<%= image_tag(
      "404_spilled_coffee.jpg",
      alt: "Spilled coffee",
      class: "mx-auto d-block img-fluid",
      style: "max-height: 300px; padding: 10px 10px 10px 10px;"
    ) %>

<p style="font-size: 10px; text-align: center;">
  <%= link_to("Coffee Spill Vectors by Vecteezy", "https://www.vecteezy.com/free-vector/coffee-spill") %>
</p>

<br/>
