<h1>Términos de servicio</h1>

<p>Pendiente...</p>

<div class="text-center">
  <%= link_to(
        "Ir al inicio",
        root_path,
        type: "button",
        class: "btn btn-secondary"
      ) %>
</div>
