<h1>Editing academic period</h1>

<%= render "form", academic_period: @academic_period %>

<br>

<div>
  <%= link_to "Show this academic period", @academic_period %> |
  <%= link_to "Back to academic periods", academic_periods_path %>
</div>
